# AWS Configuration
AWS_ACCESS_KEY_ID=access_key_id
AWS_SECRET_ACCESS_KEY=secret_access_key
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET_NAME=hotel-etl-pipeline

# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hotel_reservations
DB_USER=etl_user
DB_PASSWORD=etl_password